body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
  background-color: #fafafa;
  color: #000;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  font: inherit;
  padding: 0.5rem;
  background-color: #d1d1d1;
  border: none;
  border-radius: 4px;
  color: white;
}
